<nav class="navbar navbar-expand-lg navbar-custom navbar-dark sticky-top bg-navbar">
  <div class="container">
    <img src="./assets/images/logo.png" width="80" class="img-responsive nav-brand-image"/>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#bs-navbar-collapse" aria-controls="bs-navbar-collapse"
            aria-expanded="false" aria-label="Toggle navigation" mat-button>
      <span class="navbar-toggler-icon">
      </span>
    </button>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li><breadcrumb-item [itemName]="'nav_home'"></breadcrumb-item></li>
        <li><breadcrumb-item [itemName]="'nav_projects'"></breadcrumb-item></li>
        <li><breadcrumb-item [itemName]="'nav_cv'"></breadcrumb-item></li>
        <li><breadcrumb-item [itemName]="'nav_articles'"></breadcrumb-item></li>
        <li><breadcrumb-item [itemName]="'nav_contact'"></breadcrumb-item></li>
        <li *ngIf="isAuthanticated"> 
          <a class="bg-breadcrumb-item" mat-button [matMenuTriggerFor]="menu">Admin</a>
          <mat-menu #menu="matMenu">
            <button mat-menu-item style="outline: none" (click)="router.navigate(['/dashboard']);">
              <mat-icon>dashboard</mat-icon>
              <span>dashboard</span>
            </button>
            <button mat-menu-item style="outline: none" (click)="logOut($event)">
              <mat-icon>logout</mat-icon>
              <span>logout</span>
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </div>
</nav>

