.article {
  margin-bottom: 50px;
}

.article h5, .article p {
  text-align: left
}

code {
  border: none !important;
}

.article1-code {
  border: 1px solid;
  padding: 8px;
  margin-bottom: 10px;
}

.article-responsive-video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.article-responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.article-large-images {
  width: 50% !important;
}

@media only screen and (max-width: 768px) {
  .article-large-images {
    width: 100% !important;
  }
}
