<div class="container" style="margin-top: 25px">
  <div class="project">
      <div style="margin-bottom: 50px">
        <h4><b>MOODLE MOBILE APP</b></h4>
        <p>
          <b>Last Updated:</b> June 01, 2018
          <br>
          This is a mobile application implemented using android studio. This app
          provide moodle services such as Submission dates, Calendar, Course Details, etc. Student also can track their
          attendance with this app. Furthermore, they can store their module credits for semesters so that they can keep
          track of their semester and overall GPA. App notification about submission deadline will helpful for students to
          complete them before deadline.
          <br>
          <br>
          User have to log in to the app using their moodle login details of
          University of Moratuwa. Passwords are highly encrypted within the app. Some data (except passwords) will be sync
          with a server for statistical purposes. Some guide about the app is follows. Course section contain all the
          courses related to user up to now. Under GPA section, user can store their course credits and calculate semester
          gpa. Then GPA will be calculated automatically. There are two options to calculate GPA. Those options are
          available on the settings section. Under calender section, user can see all the events per given month. App will
          be display notifications whenever user has an event. For some of the courses 80% attendance is required by the
          lecturer. Attendance section helps user to track their attendance information. They can store reasons for absent
          as well.
          <br>
        </p>
      <div>
        <p>
          <b>Technologies:</b> Android Studio, JAVA, PHP, Laravel
          <br>
          <b>Github Link:</b>
          <a style="word-wrap:break-word;"
             href="https://github.com/prasannadeshappriya/MobileAPP">https://github.com/prasannadeshappriya/MobileAPP</a>
        </p>
        <a class="btn btn-success" target="_self" href="./assets/files/MoodleUOM.apk"
           download="MoodleUOM.apk">Download latest APK
        </a>
      </div>
      <div class="project-03-screenshot">
        <p style="margin-bottom: -10px">
          <b>
          <br>Screenshots:
          </b>
        </p>
        <img src="./assets/projects/project-03/moodleapp1.jpg" width="220" height="100%" class="img-responsive project-image-screenshot">
        <img src="./assets/projects/project-03/moodleapp2.jpg" width="220" height="100%" class="img-responsive project-image-screenshot">
        <img src="./assets/projects/project-03/moodleapp3.jpg" width="220" height="100%" class="img-responsive project-image-screenshot">
        <img src="./assets/projects/project-03/moodleapp4.jpg" width="220" height="100%" class="img-responsive project-image-screenshot">
        <img src="./assets/projects/project-03/moodleapp5.jpg" width="220" height="100%" class="img-responsive project-image-screenshot">
        <img src="./assets/projects/project-03/moodleapp6.jpg" width="220" height="100%" class="img-responsive project-image-screenshot">
      </div>
    </div>
  </div>
</div>
