<div class="container" style="margin-top: 25px">
  <div class="project">
    <h4><b>SLT USAGE [ADSL]</b></h4>
    <p>
      <b>Last Updated:</b> June 01, 2018
      <br>
      This is a mobile application implemented using android studio. This app can
      be used to view SLT Broadband data usage in Srilanka. This is very user friendly app so users can used it easily.
      App will be saved usage at each time user log in and those data will be available for user to get statistical idea
      about the monthly usage. however, this history feature is not yet implemented yet and will be available in future
      updates.
      <br>
      <br>
      Multiple users can log into the app at different times. The login information are stored in the
      phone and will not share with outside. Furthermore, login credentials are highly encrypted before insert them to the
      database. Once user log in to the app, user can log in again without password later. User id text is a auto complete
      input field and it helps user to select past login details easily. This app works only when it has an internet
      connection available When user login to the app, usage details of SLT Data will be displayed under three different
      categories; peak usage, off-peak usage, total usage. All the definitions and details about the app will be available
      under help option. Usage data will be accurate more than 95% as they are calculated with a custom algorithm. App
      will be store usage information to give statistical details. And there will be a graphical representation of the
      usage data as well. However, Those two options are still developing and will be available with future updates.
      <br>
    </p>
    <div>
      <p>
        <b>Technologies:</b> Android Studio, JAVA, PHP, Laravel
        <br>
        <b>Github Link:</b>
        <a href="https://github.com/prasannadeshappriya/SLT-Usage-App" style="word-wrap:break-word;">
          https://github.com/prasannadeshappriya/SLT-Usage-App</a>
      </p>
    </div>
    <div class="project-03-screenshot">
      <p style="margin-bottom: -10px"><b>
        <br>Screenshots:</b>
      </p>
      <img src="./assets/projects/project-05/sltusageapp1.jpg" width="220" height="100%" class="img-responsive project-image-screenshot">
      <img src="./assets/projects/project-05/sltusageapp2.jpg" width="220" height="100%" class="img-responsive project-image-screenshot">
      <img src="./assets/projects/project-05/sltusageapp3.jpg" width="220" height="100%" class="img-responsive project-image-screenshot">
      <img src="./assets/projects/project-05/sltusageapp4.jpg" width="220" height="100%" class="img-responsive project-image-screenshot">
      <img src="./assets/projects/project-05/sltusageapp5.jpg" width="220" height="100%" class="img-responsive project-image-screenshot">
      <img src="./assets/projects/project-05/sltusageapp6.jpg" width="220" height="100%" class="img-responsive project-image-screenshot">
    </div>
  </div>
</div>
